@use 'variables' as v;
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  font-size: 2.5rem;
  color: v.$red-color;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  color: v.$green-color;
  margin-bottom: 15px;
  text-align: center;
}
